<app-loading [condition]="isLoading"></app-loading>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current cats ({{cats.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th scope="col" style="width: 25%;">Name</th>
          <th scope="col" style="width: 25%;">Age</th>
          <th scope="col" style="width: 25%;">Weight</th>
          <th scope="col" style="width: 25%;">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cats.length === 0">
        <tr>
          <td colspan="4">There are no cats in the DB. Add a new cat below.</td>
        </tr>
      </tbody>
      <tbody>
        <tr appCatItemRow *ngFor="let cat of cats" [cat]="cat" (catDeleted)="removeCat($event)"></tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-cat-form *ngIf="!isEditing" [cats]="cats"></app-add-cat-form>