<app-toast [message]="toast.message"></app-toast>

<app-loading [condition]="isLoading"></app-loading>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Current dogs ({{dogs.length}})</h4>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th style="width: 20%" scope="col">Name</th>
                    <th style="width: 20%" scope="col">Age</th>
                    <th style="width: 20%" scope="col">Weight</th>
                    <th style="width: 20%" scope="col">Favourite Toy</th>
                    <th style="width: 20%" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="dogs.length==0">
                <tr>
                    <td colspan="5">there are no dogs. add one below</td>
                </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let dog of dogs">
                    <td>{{dog.name}}</td>
                    <td>{{dog.age}}</td>
                    <td>{{dog.weight}}</td>
                    <td>{{dog.favouriteToy}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="enableEditing(dog)">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                        <button class="btn btn-sm btn-danger ms-1" (click)="deleteDog(dog)">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="isEditing && dog">
                <tr appDogItemRow [dog]="dog" (editDog)="editDog()" (cancelEditing)="cancelEditing()"></tr>
            </tbody>

        </table>
    </div>
</div>

<app-add-dog-form [dogs]="dogs"></app-add-dog-form>