<app-toast [message]="toast.message"></app-toast>

<app-loading [condition]="isLoading"></app-loading>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Current dogs ({{dogs.length}})</h4>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Favourite Toy</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="dogs.length==0">
                <tr>
                    <td colspan="5">there are no dogs. add one below</td>
                </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let dog of dogs">
                    <td>{{dog.name}}</td>
                    <td>{{dog.age}}</td>
                    <td>{{dog.weight}}</td>
                    <td>{{dog.favouriteToy}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="enableEditing(dog)">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="isEditing && dog">
                <tr>
                    <td colspan="5">
                        <form (ngSubmit)="editDog()">
                            <div class="row row-cols-1 row-cols-sm-auto g-2">
                                <div class="col">
                                    <input class="form-control" placeholder="Name" name="name" [(ngModel)]="dog.name" type="text">
                                </div>
                                <div class="col">
                                    <input class="form-control" placeholder="Age" name="age" [(ngModel)]="dog.age" type="number">
                                </div>
                                <div class="col">
                                    <input class="form-control" placeholder="Weight" name="weight" [(ngModel)]="dog.weight"
                                        type="number">
                                </div>
                                <div class="col">
                                    <input class="form-control" placeholder="Favourite Toy" name="favouriteToy"
                                        [(ngModel)]="dog.favouriteToy" type="text">
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-small" type="submit">
                                        <i class="fa fa-save"></i> save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<app-add-dog-form [dogs]="dogs"></app-add-dog-form>